{% extends "base.html" %}

{% block title %}Profile - Expense Tracker{% endblock %}

{% block body_class %}profile-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}

            <h1>👤 Profile</h1>

            <div class="profile-card">

                <!-- Avatar -->
                <div class="profile-header">

                    <div class="profile-avatar">

                        {% if user.profile_pic %}
                        <img src="{{ url_for('static', filename='profile_pics/' + user.profile_pic) }}">
                        {% else %}
                        <div style="font-size:60px;">👤</div>
                        {% endif %}

                    </div>

                    <h2 style="margin-top:15px;">{{ user.username }}</h2>

                </div>

                <!-- User Info -->
                <div class="profile-info">

                    <div class="profile-field">
                        <label>USERNAME</label>
                        <p>{{ user.username }}</p>
                    </div>

                    <div class="profile-field">
                        <label>EMAIL ADDRESS</label>
                        <p>{{ user.email }}</p>
                    </div>

                </div>

                <!-- Upload Picture -->
                <div class="profile-picture">

                    <h3>Update Profile Picture</h3>

                    <form action="{{ url_for('upload_profile_pic') }}" method="POST" enctype="multipart/form-data">

                        <input type="file" name="profile_pic" accept="image/*" required>

                        <br><br>

                        <button type="submit" class="btn btn-secondary" style="background-color: rgb(60, 209, 40);">
                            Upload Picture
                        </button>

                    </form>

                </div>

            </div>

        </div>

{% endblock %}